{% extends "base.html" %}

{% block content %}
<div class="page-content">
	<p>
		VeganMSP.com is an old new project from <a href="https://jrgnsn.net"
		rel="noopener" target="_blank">Matthew Jorgensen</a>. Inspired by
		<a href="https://veganmilwaukee.com" target="_blank" rel="noopener">
		VeganMKE.com</a>, this site aims to the a complete-as-possible guide
		to being vegan in and around the Minneapolis/At.Paul area. But we're
		always looking to improve and are open to suggestions! Find something wrong? Feel free to <a href="https://github.com/VeganMSP/veganmsp.com/issues/new/choose" target="_blank" rel="noopener">open an issue</a>
		on GitHub.
	</p>
</div>
{% endblock %}