{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if not obj %}
<h1>Add Farmer's Market</h1>
{% else %}
<h1>Edit Farmer's Market</h1>
{% endif %}

	<form method="post">
		{% csrf_token %}

		<h2>Farmers Market</h2>
		{{ form }}

		<h2>Farmers Market Address</h2>
		{{ address_form }}

		<button type="submit" class="btn btn-primary">Save</button>
        {% if obj and obj.deletable %}<a href="{% url 'info:farmers_market_delete' obj.slug %}"><button type="button" class="text-danger">Delete</button></a>{% endif %}
	</form>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ address_form.media }}
<link rel="stylesheet" href="{% static 'css/custom_form.css' %}" type="text/css" />

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endblock %}