{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<a href="{% url 'info:restaurant_create' %}">Add Restaurant</a>
{% endif %}

<h1 class="page-title">Restaurants</h1>

{% if restaurant_list %}
{% regroup restaurant_list by location as location_list %}
	<div class="navbar navbar-expand-sm" role="navigation">
		Jump to city: 
		<ul class="nav">
			{% for location, restaurants in location_list %}
			<li class="nav-item">
				<a class="nav-link" href="#{{location.slug}}">
					{{location}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% for location, restaurants in location_list %}
		<h2 id="{{location.slug}}">{{location}}</h2>
		<ul>
			{% for restaurant in restaurants %}
			{% if restaurant.website %}
			<li>
				<a target="_blank" href="{{restaurant.website}}">{{ restaurant.name }}</a>
				{% if restaurant.description %} - {{ restaurant.description }}{% endif %}
				{% if user.is_authenticated %} | <a href="{% url 'info:restaurant_update' restaurant.slug %}">Edit</a> |
				<span class="text-danger">
					<a href="{% url 'info:restaurant_delete' restaurant.slug %}">Delete</a>
				</span>
				{% endif %}
			</li>
			{% else %}
			<li>
				{{ restaurant.name }}
				{% if restaurant.description %} - {{ restaurant.description }}{% endif %}
				{% if user.is_authenticated %} | <a href="{% url 'info:restaurant_update' restaurant.slug %}">Edit</a> |
				<span class="text-danger">
					<a href="{% url 'info:restaurant_delete' restaurant.slug %}">Delete</a>
				</span>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
{% else %}
	<p>No restaurants in the database!</p>
{% endif %}
{% endblock %}