{% extends 'base.html' %}

{% block content %}
<div class="page-content">
{% if page_title %}
<h1 class="page-title">{{page_title}}</h1>
{% endif %}

{% if user.is_authenticated %}
	<a href="{% url 'info:restaurant_create' %}">Add Restaurant</a>
{% endif %}

{% if restaurant_list %}
{% regroup restaurant_list by location as location_list %}
	{% for location, restaurants in location_list %}
		<h2 id="{{location.slug}}">{{location}}</h2>
		<ul>
			{% for restaurant in restaurants %}
			{% if restaurant.website %}
			<li>
				<a target="_blank" href="{{restaurant.website}}">{{ restaurant.name }}</a>
				{% if restaurant.description %} - {{ restaurant.description }}{% endif %}
				{% if user.is_authenticated %} | <a href="{% url 'info:restaurant_update' restaurant.slug %}">Edit</a> |
				<span class="text-danger">
					<a href="{% url 'info:restaurant_delete' restaurant.slug %}">Delete</a>
				</span>
				{% endif %}
			</li>
			{% else %}
			<li>
				{{ restaurant.name }}
				{% if restaurant.description %} - {{ restaurant.description }}{% endif %}
				{% if user.is_authenticated %} | <a href="{% url 'info:restaurant_update' restaurant.slug %}">Edit</a> |
				<span class="text-danger">
					<a href="{% url 'info:restaurant_delete' restaurant.slug %}">Delete</a>
				</span>
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
{% else %}
	<p>No restaurants in the database!</p>
{% endif %}
</div>
{% endblock %}