{% extends 'base.html' %}

{% block content %}
<div class="page-content">

<h2>Good Vegan Companies</h2>

{% if user.is_authenticated %}
	<a href="{% url 'info:vegan_com_create' %}">Add Vegan Company</a>
{% endif %}

{% if vegan_com_list %}
	<ul>
		{% for item in vegan_com_list %}
			<li>{% if item.website %}
			<a target="_blank" rel="noopener" href="{{ item.website }}">{{ item.name }}</a>
			{% else %}
			{{ item.name }}
			{% endif %}
			{% if item.description %} - {{ item.description }}{% endif %}
			{% if user.is_authenticated %} | <a href="{% url 'info:vegan_com_update' item.slug %}">Edit</a> |
				<span class="text-danger">
					<a href="{% url 'info:vegan_com_delete' item.slug %}">Delete</a>
				</span>
			{% endif %}
			
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No shopping in the database!</p>
{% endif %}

<h2>Farmers Markets</h2>
{% if farmers_market_list %}
	<ul>
		{% for market in farmers_market_list %}
			<li><a href="">{{ market.name }}</a> - {{ market.address }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No farmers markets in the database.</p>
{% endif %}
</div>
{% endblock %}