<li>
  <a class="nav-link px-2" href="/">Home</a>
</li>
<li>
  <a class="nav-link px-2" href="{% url 'info:restaurant_list' %}" target="_self">
    Restaurants
  </a>
</li>
<li>
  <a class="nav-link px-2" href="{% url 'info:shopping_index' %}" target="_self">
    Shopping
  </a>
</li>
<li>
  <a class="nav-link px-2" href="{% url 'info:links_index' %}" target="_self">
    Groups & Links
  </a>
</li>
<li>
  <a class="nav-link px-2" href="{% url 'blog:index' %}" target="_self">
    Blog
  </a>
</li>
<li>
  <a class="nav-link px-2" href="{% url 'info:about' %}" target="_self">
    About
  </a>
</li>
