{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}Blog - VeganMSP.com{% endblock %}
{% block page_title %}Blog{% endblock %}

{% block content %}
<div class="page-content">
	{% if post_list %}
	{% for post in post_list %}
	<div class="post-stub">
		<h2 class="post-title">
			<span class="date xs-hidden">
				{{ post.date_created | date:"Y-m-d" }}
			</span>
			<a href="{% url 'blog:post_detail' post.slug %}">
				{{ post.title }}
			</a>
		</h2>
		<p class="post-content">{{ post.content | markdown | safe | slice:":300" }}</p>
	</div>
	{% endfor %}
	{% else %}
		<p>
			There are no posts on the blog!
		</p>
	{% endif %}
</div>
{% endblock %}