{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}Blog - VeganMSP.com{% endblock %}
{% block page_title %}Blog{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<a href="{% url 'blog:post_create' %}">New post</a>
	{% endif %}
	{% if post_list %}
	{% for post in post_list %}
	<div class="post-stub">
		<h3 class="post-title">
			<span class="date xs-hidden">
				{{ post.date_created | date:"Y-m-d" }}
			</span>
			{% with year=post.date_created.year month=post.date_created|date:"m" day=post.date_created|date:"d" %}
			<a href="{% url 'blog:post_detail_by_date' year month day post.slug %}">
				{{ post.title }}
			</a>
			{% endwith %}
		</h3>
		<p class="post-content">{{ post.content | markdown | safe | slice:":300" }}</p>
	</div>
	{% endfor %}
	{% else %}
		<p>
			There are no posts on the blog!
		</p>
	{% endif %}
{% endblock %}