html, body {
	font-family: sans-serif;
	font-size: 12pt;
	margin: auto;
	max-width: 800px;
}

body {
	background: #FFFFFF;
	padding-bottom: 2rem;
}

header {
	display:  grid;
}

.header-col-1 {
	grid-column-start: 1;
}

.header-col-2 {
	grid-column-start: 2;
	margin:  auto 0 auto auto;
}

.navigation {
	margin: 1em;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.navigation ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -1px;
}

.navigation li {
	border-left: 1px solid #CCCCCC;
	flex-basis: auto;
	flex-grow: 1;
	margin: .25em 0;
	padding: 0 1em;
	text-align: center;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 700px;
}

.content {
	margin-bottom: 1em;
}

.content p,
.content li {
	line-height: 1.3em;
}

li {
	margin: .3em 0 .3em 0;
}

.page-content > h1 {
	font-size: 1.75em;
}

.danger,
.text-danger {
	color: red;
}

.alert, .info {
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	border-width: 1px;
	border-style: solid;
}

.alert {
	color: white;
	background-color: #F64D27;
	border-color: #AB2E14;
}

.info {
	color: #004085;
	background-color: #CCE5FF;
	border-color: #B8DAFF;
}

.text-muted {
	color: #444;
}

.recent-posts > .post-stub {
	padding: 0.2em 0;
}

.post-stub h2 {
	font-size: 1.2em;
}

.footer {
	display: grid;
	grid-template-columns: 2fr 0.5fr 2fr;
}

.footer-col-1 {
	grid-column-start: 1;
}

.footer-col-2 {
	grid-column-start: 3;
}

.footer {
	font-size: 0.85em;
	padding-top: 0.9em;
}